.footer {
	padding-left: 200px;
	margin-top: 67px;
	padding-bottom: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.footer__copy {
	margin-bottom: 0;
	color: #545454;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	font-family:Inter, sans-serif;
	margin-top: 67px;
	padding-bottom: 60px;
	
}
@media screen and (max-width: 544px) {
	.footer {
	  max-width: 320px;
	}
  
	.footer__copy {
	  margin-left: 19px;
	  padding-top: 48px;
	  padding-bottom: 36px;
	  font-size: 14px;
	  line-height: 17px;
	}
  }