.form__input {
	border: none;
	line-height: 17px;
	padding-top: 15.74px;
	padding-bottom: 13.26px;
	border-bottom: 0.4px solid rgba(84, 84, 84, 0.7);
	
}

.form__input::placeholder {
	line-height: 17px;
	color: #000;
}