.form__input {
	font-family: "Inter", "Arial", sans-serif;
	border: none;
	height: 14px;
	padding-top: 15.74px;
	padding-bottom: 13.26px;
	border-bottom: 0.4px solid rgba(84, 84, 84, 0.7);
}

.form__input::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}