.header {
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 41px;
  margin-left: 200px;
  display: grid;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 70);
  margin: 0 auto;
  }

.header__logo{
  width: 173px;
  height: 33px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    margin-top: 28px;
    margin-left: 27px;
    }
  .header__logo{
    width: 126px;
    height: 24px;
  }
}
