.page {
    background-color: black;
    color: white;
  }
  .page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  
  .page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .page {
      display: flex;
      flex-direction: column;
    }
    .page__content {
      width: calc(100% - 38px);
      margin: 0 19px;
    }
  }